body {
  background-color: rgb(33, 37, 41) !important;
}
.title-text {
  color: #fff;
}

.dark-card {
  background-color: #343a40 !important;
  border-color: transparent !important;
  color: #fff !important;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
}

.afterdark {
  text-decoration: none;
  color: #fff !important;
}

#home .portfolio-item {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#home .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

.button {
  background-color: #7851a9; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 25px;
  width: 100%;
}

.spn-color {
  color: #7851a9;
}

.tr {
  color: gray;
  font-weight: 600;
}